.order-header {
  text-align: center;
  font-size: 32px;
  padding: 16px;
}

.orders-list {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px 40px 2px 40px;
  margin-bottom: 16px;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      font-size: 18px;
    }
  }
}

.order-listing {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 2.2em;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

.align-button {
  margin: 32px 0;
  text-align: center;
}

.align-button #first {
  padding: 8px 110px;
}

.align-button #second {
  padding: 8px 100px;
}

.align-button .btn-flat-secondary {
  padding: 8px 116px;
}

// Modal

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  padding: 2rem;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-body {
  text-align: center;
  h1 {
    padding-bottom: 1.5rem;
    font-size: 60px;
  }
}

.modal-footer {
  justify-content: center;
}

.btn-group {
  :first-child {
    border-right: 1px;
  }
}

.btn-group {
  margin-right: 10px;
}

.btn-orders {
  color: $almost-black;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid $almost-black;
  padding: 0 6px;
  border-radius: 10px;
  transition: background 0.3s ease;
  display: inline-block;
}

.btn-orders:hover {
  text-decoration: none;
  color: $almost-black;
  background-color: $almost-black;
  color: white;
}
