<div class="multiple-items">
  <% @dish_categories.each do |category| %>
<!--  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1568158879083-c42860933ed7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80)"> -->
    <div class="card-category">
      <%= category %>
    </div>
  <% end %>
</div>
