<div class="multiple-items">
  <% @dish_categories.each do |category| %>
    <%= link_to restaurant_path(@restaurant, anchor: category.delete(' '), remote: true) do %>
      <div class="card-category">
        <%= category %>
      </div>
    <% end %>
  <% end %>
</div>
