<%= form_tag restaurant_path(@restaurant), remote: true, method: :get do %>
 <div class="search-form-control form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search dishes"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  </div>
<% end %>



