<h1 class="order-header">Order details</h1>

<div class="orders-list">
  <ul>
    <div class="order-listing"><li>Salad</li><li>5 €</li></div>
    <div class="order-listing"><li>Soup</li><li>5 €</li></div>
    <div class="order-listing"><li>Dessert</li><li>5 €</li></div>
  </ul>
</div>

<div class="orders-list">
  <ul>
    <div class="order-listing"><li>Total</li><li>15 €</li></div>
  </ul>
</div>

<div class="align-button"> <%= link_to "Place your order", "#", class: "btn-flat" %> </div>
<div class="align-button"> <%= link_to "Call a waiter", "#", class: "btn-flat-secondary" %> </div>
