<div class="container">
  <div class="home">
    <%= image_tag "separeat_logo.svg", class: "logo", alt: "logo" %>
      <h3>
        <span id="banner-typed-text"></span>
      </h3>
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
            <%= link_to "Scan QR code", new_visit_path, class: "btn btn-flat btn-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Find restaurants", restaurants_path, class: "btn btn-flat-secondary btn-navbar" %>
        </li>
      </ul>
    </div>
</div>
