<div class="container">
  <div class="home">
    <%= image_tag "separeat_logo.svg", class: "logo", alt: "logo" %>
      <h3>
        <span id="banner-typed-text"></span>
      </h3>
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item pt-3">
          <% @restaurants.each do |restaurant| %>
            <%= link_to "Scan QR code", restaurant_path(restaurant), class: "btn btn-flat btn-home-1" %>
          <% end %>
        </li>
        <li class="nav-item pt-3">
          <%= link_to "Enter code manually", "#", class: "btn btn-flat btn-home-2" %>
        </li>
        <li class="nav-item pt-3">
          <%= link_to "Find restaurants", restaurants_path, class: "btn btn-flat btn-home-3" %>
        </li>
      </ul>
    </div>
</div>

