.btn-ghost {
  color: $almost-black;
  border: 1px solid $almost-black;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: $almost-black;
  opacity: 1;
}

.btn-flat {
  color: $almost-black;
  background: $dark-yellow;
  padding: 8px 24px;
  border-radius: 15px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  color: $almost-black;
}
