.btn-ghost {
  color: $almost-black;
  font-size: 24px;
  border: 3px solid $almost-black;
  padding: 0 12px;
  border-radius: 15px;
  transition: opacity 0.3s ease;
  display: inline-block;
  opacity: 0.6;
}

.btn-ghost:hover {
  text-decoration: none;
  color: $almost-black;
  opacity: 1;
}

.btn-flat {
  color: $almost-black;
  background: $dark-yellow;
  padding: 8px 24px;
  border-radius: 15px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background-color: white;
  padding: 6px 22px;
  border: 3px solid $dark-yellow;
}
