.btn-ghost {
  color: $almost-black;
  font-size: 20px;
  border: 3px solid $almost-black;
  padding: 0 10px;
  border-radius: 15px;
  transition: background 0.3s ease;
  display: inline-block;
}

.btn-ghost:hover {
  text-decoration: none;
  color: $almost-black;
  background-color: $almost-black;
  color: white;
}

.btn-flat {
  color: $almost-black;
  background: $dark-yellow;
  padding: 8px 16px;
  border-radius: 15px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-flat:hover {
  background-color: white;
  padding: 6px 14px;
  border: 3px solid $dark-yellow;
  color: $almost-black;
  text-decoration: none;
}

.btn-flat-secondary {
  color: $almost-black;
  background: #FFDD77;
  border-color: #FFDD77;
  padding: 8px 16px;
  border-radius: 15px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-flat-secondary:hover {
  background-color: white;
  padding: 6px 22px;
  border: 3px solid $dark-yellow;
  color: $almost-black;
  text-decoration: none;
}

.btn-outline-secondary {
  color: $almost-black;
  background: transparent;
  border-color: #FFDD77;
  padding: 8px 16px;
  border-radius: 15px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-outline-secondary:hover {
  background-color: white;
  padding: 6px 22px;
  border: 3px solid $dark-yellow;
  color: $almost-black;
  text-decoration: none;
}

.btn-navbar {
  width: 60vw !important;
  padding: 30px;
  margin-top: 30px !important;
  border: 2px solid $dark-yellow;
}

.btn-navbar:hover {
  background-color: white;
  width: 60vw !important;
  padding: 30px;
  margin-top: 30px !important;
  border: 3px solid $dark-yellow;
  color: $almost-black;
  text-decoration: none;
}

