.card-restaurant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0 0 15px 15px;
}

.card-restaurant a {
  color: $almost-black;
  text-decoration: none;
}

.card-restaurant > img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.card-restaurant h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $almost-black;
}

.card-restaurant h3 {
  font-size: 14px;
  margin: 0;
  color: $dark-yellow;
}

.card-restaurant .card-restaurant-infos {
  padding: 8px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-restaurant .card-restaurant-rating {
  padding: 8px 0 8px 16px;
}

.card-category {
  background-color: #424852;
  background-size: cover;
  background-position: center;
  height: 80px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  color: $dark-yellow;
  font-size: 14px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.slick-slide {
  &:focus, a {
    outline: none;
  }
}

.card-dish {
  overflow: hidden;
  height: 60px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  align-content: space-between;
}

.card-dish img {
  height: 100%;
  width: 25%;
  object-fit: cover;
}

.card-dish h2 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.card-dish p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card-dish .card-dish-infos {
  width: 60%;
  padding: 16px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 60vw;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 15px;
}

#real-image {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

#dummy-image {
  height: 75%;
  width: 90px;
  padding: 16px;
  margin: 8px;
  background: $dark-grey;
  // border: 4px solid $dark-grey;
  border-radius: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: left;
}


.card-visit {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  align-content: space-between;
  // position: relative;
}

.card-visit img {
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.card-visit h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-visit p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card-visit .card-visit-infos {
  width: 60%;
  padding: 16px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.card-visit .card-visit-infos .btn-ghost {
  // position: absolute;
  right: 16px;
}



