.card-restaurant {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.card-restaurant > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-restaurant h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: $almost-black;
}

.card-restaurant h3 {
  font-size: 22px;
  margin: 0;
  color: $dark-yellow;
}

.card-restaurant .card-restaurant-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-restaurant .card-restaurant-rating {
  padding: 0 0 16px 16px;
}
