.simple_form.new_dish {
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.simple_form.new_restaurant {
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-control {
  border-radius: 15px;
  border: none;
  background-color: $bright-yellow;
}

.form-control:focus {
  border: 1px solid $dark-yellow;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-check-label {
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

/* Rating css  */
.rating {
  float: left;
  text-align: center;
  position: relative;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0,0,0,0);
 }

 /* It map buttons to Numbers */
.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 140%;
  line-height: 1.2;
  color: $dark-grey;
  margin-right: 4px;
}

/* Replaces numbers with stars */
.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked ~ label {
  color: #ffcf3e;
}

/* It shadows the star button to golden colour when you move the curser on star buttons */
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: #ffcf3e;
}

.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
  color: #ffcf3e;
}

/* The input is radio button on click to buttton will move cursor to different position will remain stay on the same position */
.rating:not(:checked) > input {
  display: none;
}
