.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #393e46;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}

.slick-slide {
    width: 50px;
    padding: 16px;
  a {
    text-decoration: none;
  }
}

