.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #393e46;
}

.slick-next {
  right: -7px;
}

.slick-prev {
  left: -7px;
}

.slick-slide {
    width: 60px;
    padding: 12px;
  a {
    text-decoration: none;
  }
}

